.parentBox {
  width: 60%;
  height: 500px;
  margin: auto;
  background-color: antiquewhite;
  /* overflow: hidden; */
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

.imgBox {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 45%;
  overflow: hidden;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.imgBox img {
  width: 100%;
  height: 500px;
}

.descBox {
  float: left;
  margin-left: 22px;
  width: 49%;
  overflow: hidden;
  display: grid;
}

.descBody {
  margin: auto;
  display: contents;
}

.descFoot {
  display: flex;
  align-items: end;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.descCate {
  color: lightslategray;
  margin-top: 50px;
  margin-bottom: 0;
}

.descTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.descPrice {
  margin-top: 5px;
  margin-bottom: 0;
}

.descInfo {
  line-height: 1.8;
  text-align: justify;
  margin-top: 20px;
}

.descBuy {
  width: 120px;
  height: 40px;
  background-color: #f89e26;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
}

.descBuy:hover {
  background-color: #ca4608;
  cursor: pointer;
  color: #efefef;
}

